* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

body {
	color: #e1e1e6;
	background: #121214;
}

@media (max-width: 1024px) {
	body {
		background: #17171a;
	}
}
